In [2]:
x = 10

y = 20

z = x + y

print (z)

30

In [3]:
Rules For Declaring the variables in Python :

SyntaxError: invalid syntax (2353210024.py, line 1)

In [ ]:
Rule 1 : No namespaces while declaring the variables in python

In [4]:
first name = "Akhil"  --------------> wrong

print (first name)

SyntaxError: invalid syntax (297651790.py, line 1)

In [5]:
firstname = "Akhil" -----------------> correct

print(firstname)

Akhil

In [7]:
first_name = "Akhil" 

print(first_name)

Akhil

In [ ]:
Rule 2 : A variable name should not start with a number **

In [8]:
1name = 'akhil'

print(1name)

SyntaxError: invalid syntax (3412975255.py, line 1)

In [9]:
name1 = 'akhil'

print(name1)

akhil

In [ ]:
Rule 3 : A variable name should not contain any special characters

In [ ]:
like : @ # $ & ^

In [11]:
name@ = 'nikhil'

print(name@)

SyntaxError: invalid syntax (2833436151.py, line 1)

In [ ]:
Introduction to data types in python :
    
    1. strings --------> str
    
    2. lists   --------> list
    
    3. numbers --------> integers (int) and float (decimals)
    
    4. tuples  --------> tuple
    
    5. Dictionaries ---> dict

In [ ]:
classification of datatypes :
    
    Broadly datatypes are classified into two categories :
    
    1. mutable types  -------> which we can edit or alter ---------> flexible in nature
    
    2. immutable datatypes --> which we cannot edit or alter ------> fixed in nature

In [ ]:
Introduction to string datatypes :
    
    Defination : A String is series of characters decired in quotes.
        
    Classification : It is classified as an immutable datatypes.

How to declare the string datatypes :
    
    two approaches :
        1. single quote
        2. double quote

In [12]:
name='akhil'   # single quote

print(name)

akhil

In [13]:
name2 ="nikhil" # double quote

print(name2)

nikhil

In [ ]:
Introdution to string methods :
    
Methods are nothing but builtin that are available to use directly.

In [14]:
type(name)

str

In [15]:
type(name2)

str

In [17]:
fullname = 'akhil akki'
print(fullname)

akhil akki

In [ ]:
# req : to get in the rigth format.

In [21]:
print(fullname.title())

Akhil Akki

In [ ]:
# req : to get the name in capital letters

In [22]:
print(fullname.upper())

AKHIL AKKI

In [ ]:
# req : to get the name in small letters

In [23]:
print(fullname.lower())

akhil akki